<div class="panel panel-info" >
    <!--
    <div ng-repeat="data in tables">
        <div  good-grid good-index="{{data.index}}" good-type="{{data.type}}" good-url="{{data.url}}">
    </div>
    -->
    <div class="panel-heading ">
        <h3 class="panel-title">{{type}}</h3>
    </div>
    <div good-grid table-data="{{datas}}"></div>
    <div class="panel-footer text-center">
    <button class="btn btn-default" style="margin-left: 5px" ng-click="prePage($event)">Pre</button>
    <button class="btn {{page.className_}}" style="margin-left: 5px" ng-click="gotoPage(page.pageNo)" ng-repeat="page in pageTotal">{{page.pageNo}}</button>
    <button class="btn btn-default" style="margin-left: 5px" ng-click="nextPage($event)">Next</button>
    </div>
</div>